@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --alabaster-grey: #dee5e5ff;
    --muted-teal: #9dc5bbff;
    --mint-leaf: #17b890ff;
    --deep-teal: #5e807fff;
    --evergreen: #082d0fff;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--alabaster-grey);
    font-family: 'Manrope', sans-serif;

    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    transition: background 3s ease-in-out;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-container {
    flex-shrink: 0;
}

.card{
    background-color: var(--mint-leaf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* ==========================PASSWORD================================= */
.password-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-generator{
    width: 520px;
}

.password-card-h1{
    margin: 0 0 24px 0;
}

#lengthPassword, #btn-generatePassword{
    border-radius: 5px;
    padding: 16px;
    margin-top: 8px;
}

#lengthPassword{
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}

#btn-generatePassword{
    background-color: var(--evergreen);
    color: #FFFFFF;
    cursor: pointer;
}

#btn-generatePassword:hover{
    transform: translateY(-2px);
}

#password-generated-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 24px;
}

#password-generated-container.hide{
    display:none
}


/* ==========================CLOCK================================= */
.clock-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-generator{
    width: 520px;
}

.clock-card-h1{
    margin: 0;
}

#clock-time{
    font-size: 80px;
    font-weight: 800;
}

#clock-date{
    font-size: 40px;
    font-weight: 800;
}

#clock-sentence{
    font-size: 20px;
    font-weight: 600;
}


/* ==========================LINKS================================= */

.links-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-card-h1 {
    margin-bottom: 24px;
}

#links-name, #url-links, #btn-generate-link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#btn-generate-link {
    background-color: var(--evergreen);
    color: white;
    font-weight: 700;
    margin-top: 12px;
}

#btn-generate-link:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.links-generated-container-padding {
    padding: 24px 10px 24px 24px;
    max-height: 456px;
    margin-top: 24px;
    background-color: var(--deep-teal);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;       
    max-width: 520px; 
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#links-generated-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-height: 450px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 15px 0;
}

#links-generated-container::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

#links-generated-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 6px solid transparent; 
    background-clip: padding-box;
}

#links-generated-container::-webkit-scrollbar-corner {
    background: transparent; 
}

#links-generated-container.hide {
    display: none;
}

.links-generated-container-padding.hide {
    display: none;
}

#links-generator {
    width: 100%;       
    max-width: 520px; 
    box-sizing: border-box; 
    gap: 12px;
}

.btnLink {
    background-color: var(--mint-leaf);

    display: block;
    justify-content: center;
    align-items: center;
    
    max-width: 455px; 
    padding: 24px;

    border-radius: 15px;
    border: solid 2px black;

    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.btnLink:hover {
    cursor: pointer;
    color: white;
    border: solid 2px white;
}

.linkGeneratedContainer {
    position: relative;
    display: inline-block;
}

.btnDelete {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 4px 8px;
    z-index: 2;
    border-radius: 8px;
}

.btnDelete:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}


/* ==========================WEATHER================================= */

#weather-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-card { 
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
    width: 100%;
    max-width: 800px;
}

.main-temperature-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.location-container {
    color: white;
    font-size: 32px;
}

.weather-location {
    font-size: 24px;
}

.weather-condition {
    font-weight: 600;
}

.temperature-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icon-container {
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
}

.weather-temperature {
    color: white;
    font-size: 112px;
    font-weight: 700;
}

.info-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.forecast-24hs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    overflow-x: auto;
    width: 100%;
    padding: 15px 0;
    gap: 16px;

    scroll-padding: 16px;
}

.forecast-24hs::-webkit-scrollbar {
    height: 8px;
}

.forecast-24hs::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid transparent; 
    background-clip: padding-box;
}

.hour-item {
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    color: white;
    font-weight: 600
}

.hour-icon {
    width: 100%;
}


/* ================================DASHBOARD========================================= */

.apps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 24px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.app-links-container {
    grid-column: 1;
    grid-row: 1 / span 3; 
}

.app-clock-container,
.app-weather-container,
.app-password-container {
    grid-column: 2;
}

.dashboard-view .card, .links-container {
    width: 100% !important;
    max-width: 520px;
    margin: 0 auto;
}

.dashboard-view .forecast-24hs {
    display: none;
}

.dashboard-view .weather-temperature {
    font-size: 60px;
}

.dashboard-view .weather-icon {
    height: 100px;
}

.dashboard-view .widget-card {
    height: 290px;
}

.dashboard-view .icon-container {
    align-items: center;
}

.dashboard-view #clock-sentence {
    display: none;
}

.dashboard-view #clock-generator {
    height: 268px;
}

.dashboard-view #password-generator {
    min-height: 185px;
    height: auto;
}

.dashboard-view .links-generated-container-padding {
    min-height: 499px;
}

.header-container {
    height: 40px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: var(--evergreen);
    font-weight: 700;
    padding: 16px;
}

.btn-nav {
    color: white;
}

.btn-nav:hover {
    color: var(--muted-teal);
}

@media (max-width: 1140px) {
    .apps-container {
        grid-template-columns: 1fr; 
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .app-links-container,
    .app-clock-container,
    .app-weather-container,
    .app-password-container {
        grid-column: auto !important;
        grid-row: auto !important;    
        width: 100%;
        max-width: 520px; 
    }

    .links-generated-container-padding, #links-generated-container {
        max-height: none; 
    }
}