@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --alabaster-grey: #dee5e5ff;
    --muted-teal: #9dc5bbff;
    --mint-leaf: #17b890ff;
    --deep-teal: #5e807fff;
    --evergreen: #082d0fff;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--alabaster-grey);
    font-family: 'Manrope', sans-serif;

    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header-container {
    flex-shrink: 0;
}

.card{
    background-color: var(--mint-leaf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 15px;
}

/* ==========================PASSWORD================================= */
.password-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-generator{
    width: 520px;
}

.password-card-h1{
    margin: 0 0 24px 0;
}

#lengthPassword, #btn-generatePassword{
    border-radius: 5px;
    padding: 16px;
    margin-top: 8px;
}

#lengthPassword{
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}

#btn-generatePassword{
    background-color: var(--evergreen);
    color: #FFFFFF;
    cursor: pointer;
}

#btn-generatePassword:hover{
    transform: translateY(-2px);
}

#password-generated-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

#password-generated-container.hide{
    display:none
}


/* ==========================CLOCK================================= */
.clock-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-generator{
    width: 520px;
}

.clock-card-h1{
    margin: 0;
}

#clock-time{
    font-size: 80px;
    font-weight: 800;
}

#clock-date{
    font-size: 40px;
    font-weight: 800;
}

#clock-sentence{
    font-size: 20px;
    font-weight: 600;
}


/* ==========================LINKS================================= */

.links-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#links-generator {
    gap: 12px;
}

.links-card-h1 {
    margin-bottom: 24px;
}

#links-name, #url-links, #btn-generate-link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#btn-generate-link {
    background-color: var(--evergreen);
    color: white;
    font-weight: 700;
    margin-top: 12px;
}

#btn-generate-link:hover {
    cursor: pointer;
}

#links-generator {
    width: 520px
}

#links-generated-container {
    display: flex;
    flex-wrap: wrap;

    width: 520px;
    max-height: 456px;
    margin-top: 24px;
    
    overflow-y: auto;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    gap: 16px;

    background-color: var(--deep-teal);
    border-radius: 15px;
    padding: 24px;
}

#links-generated-container.hide {
    display: none;
}

.btnLink {
    background-color: var(--mint-leaf);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 15px;
    border: solid 2px black;
    font-weight: 600;
}

.btnLink:hover {
    cursor: pointer;
    color: white;
    border: solid 2px white;
}

.linkGeneratedContainer {
    position: relative;
    display: inline-block;
}

.btnDelete {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 4px 8px;
    z-index: 2;
    border-radius: 8px;
}

.btnDelete:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}